:root { 
   --cor1: #0F0F11;
   --cor2: #1E1E27;
   --cor3:#575774;
   --cor4: #040211;
   --cor5: #DB4D4D;
   --cor6: #BA4C10;
   --cor7: #0C0B0C;
   --cor8: #C0BFB3;
   --cor9: #24201C;


   --cor10: #D5D5D5;
   --cor11: #2C2C2A;
    
}





*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
    
    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




.gradient{
    background-color: #0F0F11;
    width: 100%;
    height: 100vh;
    overflow: hidden;
   
}

.principal-pag{
    
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
    box-shadow: inset 1px 0px 20px 20px #040211;
}

.principal-pag::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('imagens/5.jpg') center center no-repeat ;
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
    
}

.principal-pag a{
    text-decoration: none;
    color: #fff;
    
}




.header{
    text-align: center;
    display: flex;
    
    

}

.header span {
    display: flex;
    margin-left: 40px;
    margin-top: 10px;
    
   
}

.header span a{
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Inter', 'Poppins';
    font-weight: 200;
    color: #ffffffe3;
 

    cursor: pointer;
    
    
    
   
}

.header .linkheader{
    margin-top: 20px;
}

.headerR{
    display: flex;
    position: relative;
    justify-content: flex-end;
    bottom: 25px;
}

.headerR span a {
    margin-right: 10px;
    font-size: 20px;
    margin-left: 20px;
    padding: 10px;
    
}

.headerR button{
    background-color: transparent;
    
  
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    
}

.login{
    font-weight: 400;
}

h1{
    color: #fff;
    width: 270px;
}

.title1{
    position: relative;
    left: 60px;
    top: 40px;
    font-size: 18px;
    opacity: 0.7;
    display: flex;
    
   
}

.title2{
    position: relative;
    top: 250px;
    opacity: 0.7;
    left: 60px;
    display: flex;
}

.title3{
    position: relative;
    left: 1100px;
    bottom: 30px;
    opacity: 0.7;
    display: flex;  
}

.secondpage .secondbutton{
    display: flex;
    justify-content: center;
    
    
    
}

.secondbutton button{
    display: flex;
    
    margin-top: 50px;
    width: 200px;
    height: 100px;
    margin-right: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #1E1E27;
    border: 2px solid #575774;
    color: #fff;
    border-radius: 36px;
    font-size: 23px;
    font-family: 'Inter', 'Poppins', Arial, Helvetica, sans-serif;
    
}

.secondbutton button:hover{
    background-color: #121218;
}

.secondimage{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transform: translateX(-50px);
   

}

.secondimage img {
    transform: translateY(-280px);
    width: 500px;
    margin-right: 30px;
    border-radius: 35px;
    opacity: 0.6;
}

.secondpage .textpage{
    position: relative;
    top: 120px;
    width: 400px;  
    left: 200px;    
}

.secondpage .textpage h1{
    font-size: 46px;
}

.secondpage .textpage span {
    right: 30px;
      
    
}

.secondpage .textpage span p {
    color: #D5D5D5;
    text-align: left;
    font-size: 30px;
    margin-top: 10px;
}

.textpage2{
    position: relative;
    top: 160px;
    width: 500px;  
    left: 800px; 
    
}

.textpage2 p{
    color: #D5D5D5;
    font-size: 30px;
    margin-top: 10px;
    
}

.textpage2 h1{
    font-size: 46px;
    width: 500px;
    
}

.secondimage2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transform: translateX(50px);
}

.secondimage2 img{
    border-radius: 35px;
    transform: translateY(-200px);
}

