@charset "UTF-8";
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1e1e27;

}

.wrapper{
    width: 420px;
    padding: 30px 40px;  
    height: 450px;
    border: 2px solid #bb0331;  
    color: #fff;
    
    
}

.wrapper h1{
    text-align: center;
    font-family: 'Poppins';
    margin-bottom: 20px;
}

.wrapper .enput{
    width: 100%;
    margin-bottom: 5px;
    height: 40px;
    border: 2px solid #afafaf;
    background-color: transparent;
    padding: 20px 45px 20px 20px;
    border-radius: 20px;
    overflow: none;
    margin-top: 15px;
   

}

.wrapper #forgot{
margin-top: 10px;
}

.forgot{
    display: flex;
    justify-content: space-between;
    

}



.forgot label{
    transform: translateX(-40px);
    font-size: 18px;
}

a{
    left: -30px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

a:hover{
    text-decoration: underline;
}

button{
    font-size: 16px;
    width: 100%;
    height: 50px;
    border-radius: 35px;
    border: none;   
    margin-top: 10px;
    cursor: pointer;
}