@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
   
}


/*
Created with https://www.css-gradient.com/
Gradient link: https://www.css-gradient.com/?c1=29049c&c2=100322&gt=r&gd=dbr
*/

body{
/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=29049c&c2=100322&gt=r&gd=dbr
*/
background: linear-gradient(to bottom,#0c002b, #11003f, #1a0061 );
min-height: 100vh;
background-attachment: fixed;




}

.header{
    display: flex;
    width: 70%;
    background-color: #060367;
    position: relative;
    top: 30px;
    height: 50px;
    left: 14%;
    justify-content: center;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px -1px 20px #06003a;
    
    

}

 .headerspan{
    display: flex;
   
  cursor: pointer;
   align-items: center;
    margin-left: 5px;
    margin-right: 28px;
    font-size: 20px;
   color: #fff;
   font-family: 'Poppins';
   

   
   
}


i{
    font-size: 25px;
    margin: 0px 10px;
}

.mediasocial{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
   left: 2%;

}

.mediasocial a{
    color: #fff;
    
}

.mediasocial i{
    font-size: 30px;
    margin: 0px 10px;
}

#aboutme{
    display: flex;
    width: 80%;
    max-width: 900px;
    background-color: #140351;
    position: relative;
    top: 100px;
    margin: 0 auto;
    box-shadow: 0px -1px 20px #05002e;

}

#aboutme img{
    display: flex;
    margin: 10px 0px;
    width: 25%;
    height: 80%;
    position: relative;
    left: 30px;
    

    

}

#aboutme .texto h1{
    
    text-align: center;
    color: #fff;
    font-family: 'Poppins';
    margin: 20px auto;
    
    
    


    
}

#aboutme .texto p{
    text-align: center;
    color: #fff;
    font-family: 'Poppins';
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: 300;
    flex: 1;
    width: 600px;
    font-size: 20px;
    
}


#class{
    display: flex;
    width: 80%;
    max-width: 900px;
    background-color: #0c0a3b;
    height: 450px;
    top: 200px;
    margin-left: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 10;
    box-shadow: 0px -1px 20px #05002e;
    
    position: relative;
        
}


#class img{
    display: flex;
    margin: 10px 0px;
    width: 23%;
    height: 70%;
    position: relative;
    left: 90px;
    top: 90px;
    
}

#class h2{
    text-wrap: wrap;
    margin-top: 30px;
    transform: translateY(-240px);
    text-align: center;
    color: #fff;

   
    
    font-family: 'Poppins';

}

 #class .css{
    display: flex;
    position: absolute;
    width: 42%;
    right: 20px;
    top: 122px;
    animation: fadeIn 3s; 
    border-radius: 30px;
    background-color: #4c28eb;
    height: 10px;
}

#class .html5{
    display: flex;
    position: absolute;
    width: 42%;
    right: 20px;
    top: 186px;
    animation: fadeIn 3s; 
    border-radius: 30px;
    background-color: #4c28eb;
    height: 10px; 
}

#class .js{
    display: flex;
    position: absolute;
    width: 25%;
    right: 170px;
    top: 253px;
    
    border-radius: 30px;
    background-color: #4c28eb;
    height: 10px; 
    animation: fadeIn 3s; 

}

#class .mysql{
    display: flex;
    position: absolute;
    width: 20%;
    right: 210px;
    top: 318px;
    animation: fadeIn 3s; 
    border-radius: 30px;
    background-color: #4c28eb;
    height: 10px; 
}

#class .react{
    display: flex;
    position: absolute;
    width: 20%;
    right: 208px;
    top: 394px;
    animation: fadeIn 3s; 
    border-radius: 30px;
    background-color: #4c28eb;
    height: 10px; 
}     



/*base code*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  .animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  /*the animation definition*/
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-range: entry 0% cover 40%;
    animation-timeline: view();
  }



  